<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my_domain.homework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HW1" />
        <activity android:name=".HW2" />
        <activity android:name=".HW3" />
        <activity android:name=".HW4" />
        <activity android:name=".HW5" />
        <activity android:name=".hw6.GalleryActivity" />
        <activity android:name=".hw6.NewElementActivity" />

        <service android:name=".MyService" />

        <activity android:name=".HW4_2" />
        <activity android:name=".HostActivity" />
        <activity android:name=".hw6.HomeWork6" />
        <activity android:name=".hw4.DiagrammeActivity" />
        <activity android:name=".hw8.HW8" />
        <activity android:name=".hw8.RxFirstActivity" />
        <activity android:name=".hw8.RxSecondActivity"></activity>
    </application>

</manifest>